body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

.homeSlideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("assets/HomeFashion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: slideshowFade 50s infinite;
}

@keyframes slideshowFade {
  0% {
    background-image: url("assets/HomeFashion.jpg");
  }
  19% {
    background-image: url("assets/HomeFashion.jpg");
  }
  20% {
    background-image: url("assets/HomeFashion2.jpg");
  }
  39% {
    background-image: url("assets/HomeFashion2.jpg");
  }
  40% {
    background-image: url("assets/HomeFashion3.jpg");
  }
  59% {
    background-image: url("assets/HomeFashion3.jpg");
  }
  60% {
    background-image: url("assets/HomeFashion4.jpg");
  }
  79% {
    background-image: url("assets/HomeFashion4.jpg");
  }
  80% {
    background-image: url("assets/HomeFashion5.jpg");
  }
  99% {
    background-image: url("assets/HomeFashion5.jpg");
  }
  100% {
    background-image: url("assets/HomeFashion.jpg");
  }
}

.homebeauty {
  background-image: url(assets/beauty.jpg);
  background-size: cover;
  background-position: center;
}

.comeback-btn {
  animation: entry 1s forwards;
}

@keyframes entry {
  0% {
    left: -90%;
  }
  100% {
    left: -1rem;
  }
}
