@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&family=Nunito&family=Open+Sans&family=Playfair+Display&family=Quicksand&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mono {
  font-family: "Roboto Mono", monospace;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}
